---
import Section from "../Section.astro";

interface Props {
  cvData: any;
}

const { cvData } = Astro.props;
const certificates = cvData.certificates;

// Títulos según idioma
const lang = new URL(Astro.request.url).searchParams.get("lang") || "en";
const sectionTitle = lang === "en" ? "Certificates and Courses" : "Certificados y Cursos";
---

<Section title={sectionTitle}>
  <ul>
    {
      [...certificates]
        .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
        .map(({ name, issuer, date, url }) => {
          return (
            <li>
              <article>
                <header>
                  <div>
                    <a href={url} target="_blank" rel="noopener noreferrer">
                      <h3 class="text-gray-900 dark:text-white">{name}</h3>
                    </a>
                  </div>
                  <time class="text-gray-900 dark:text-white">{date}</time>
                </header>
                <footer>
                  <p class="text-gray-950 dark:text-white">{issuer}</p>
                </footer>
              </article>
            </li>
          );
        })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  header h3 {
    text-decoration: underline;
  }
  time {
    font-size: 0.85rem;
  }
</style>
