---
import Section from "../Section.astro";

interface Props {
  cvData: any;
}

const { cvData } = Astro.props;
const volunteer = cvData.volunteer;

// Títulos según idioma
const lang = Astro.url.pathname.startsWith("/es") ? "es" : "en";
const sectionTitle = lang === "en" ? "Volunteer" : "Voluntariado";
---

<Section title={sectionTitle}>
  <ul>
    {
      volunteer.map(({ organization, position, url, startDate, endDate, summary }) => {
        const years = `${startDate} - ${endDate}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3 class="text-gray-900 dark:text-slate-200">
                    <a href={url} title={organization} target="_blank">
                      {organization}
                    </a>
                  </h3>
                  <h4 class="text-gray-950 dark:text-slate-200">{position}</h4>
                </div>
                <time class="text-gray-900 dark:text-slate-400">{years}</time>
              </header>
              <footer>
                <p class="text-gray-600 dark:text-slate-300">{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 600;
    margin-bottom: 4px;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
